.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

.form-control {
    width: 50%;
}

.alert alert-danger {
    width: 50%;
}
